/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

.main {
    max-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1300px;
    height: 700px;
    background-image: url(images/bg-bottom.svg), url(images/bg-top.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, top right;
    box-shadow: 0px 0px 19px -8px rgba(0, 0, 0, 0.75);
}

h1 {
    text-align: center;
    color: hsl(234, 14%, 49%);
    font-size: 24px;
    padding: 30px 0;
}

h2 {
    font-size: 16px;
    color: hsl(234, 14%, 49%);
}

h3 {
    font-size: 50px;
    padding: 15px;
}

h4 {
    font-size: 50px;
    padding: 15px;
    display: none
}

p {
    font-size: 15px;
}

.selector {
    display: flex;
    color: hsl(234, 14%, 74%);
    justify-content: center;
    align-items: center;
}

#toggle-bar {
    background-color: hsl(237, 63%, 64%);
    width: 50px;
    height: 22px;
    margin: 0 15px;
    padding: 3px;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer
}

#toggle-ball {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transition-duration: 5000;
}

#toggle-bar:hover {
    opacity: 50%;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 32px auto;
    text-align: center;
}

.card1,
.card2,
.card3 {
    padding: 20px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 19px -8px rgba(0, 0, 0, 0.75);
}

.card2 {
    padding: 45px;
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    border-radius: 10px;
}

.card2 p,
.card1 p,
.card3 p {
    padding: 18px;
}


.card1 p,
.card3 p {
    color: hsl(233, 13%, 49%);
}

.card1 {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px
}

.card3 {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px
}

hr {
    opacity: 25%;
}

button {
    width: 85%;
    margin: 25px auto 12px auto;
    padding: 15px;
    cursor: pointer;
    transition-duration: 3000;
    color: white;
    background-color: hsl(237, 63%, 64%);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.card2 button {
    color: hsl(237, 63%, 64%);
    background-color: white;
}

.card2 button:hover {
    color: white;
    background-color: transparent;
}

button:hover {
    color: hsl(237, 63%, 64%);
    background-color: transparent;
}


@media only screen and (max-width: 760px) {
    .cards {
        flex-direction: column;
        gap: 50px;

    }

    .card1,
    .card2,
    .card3 {
        margin: 1rem;
        border-radius: 10px;
        width: 80%
    }

    .container {
        background-image: url(images/bg-top.svg);
        background-repeat: no-repeat;
        background-position: top right;
    }

}